absl-py==0.7.0
astor==0.7.1
backcall==0.1.0
decorator==4.3.2
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
ipdb==0.11
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.0.1
mock==2.0.0
names==0.3.0
numpy==1.16.1
parso==0.3.4
pbr==5.1.2
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.8
protobuf==3.6.1
ptyprocess==0.6.0
pycurl==7.43.0
Pygments==2.3.1
pygobject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.2
scikit-learn==0.20.2
scipy==1.2.1
six==1.12.0
sklearn==0.0
tensorboard==1.12.2
tensorflow-estimator==1.13.0rc0
tensorflow-gpu==1.13.0rc1
termcolor==1.1.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
